//div(ng-controller="VideoCtrl as controller",class="videogular-container well row")
    videogular(vg-theme="controller.config.theme.url")
        vg-media(vg-src="controller.config.sources",
        vg-tracks="controller.config.tracks",
        vg-native-controls="true" )
    //videogular(vg-theme="controller.config.theme")
        vg-media(vg-src="controller.config.sources",
                vg-tracks="controller.config.tracks")
        vg-controls
            vg-play-pause-button
            vg-time-display
                |{{ currentTime | date:'mm:ss' }}
            vg-scrub-bar
                vg-scrub-bar-current-time
            vg-time-display
                |{{ timeLeft | date:'mm:ss' }}
            vg-volume
                vg-mute-button
                vg-volume-bar
            vg-fullscreen-button
        vg-overlay-play
        vg-poster(vg-url='controller.config.plugins.poster')

doctype html

div(ng-controller="VideoCtrl as controller")
    form(class="well row")
        .form-group
            h4 Загрузить видео с компьютера
            .input-group(style='margin:10pt;')
                label.input-group-btn
                    span.btn.btn-primary
                        | Видео
                        input#src(type='file', style='display: none;',  accept='video/*', custom-on-change="changedVideo", ng-model="myVideo")
                input#uploaded_video.form-control(type='text', readonly='', ng-model="myVideoInfo")
            .input-group(style='margin:10pt;')
                label.input-group-btn
                    span.btn.btn-primary
                        | Субтитры
                        input#sub(type='file', style='display: none;',  accept='/*', ng-model="mySub", custom-on-change="changedSub")
                input#uploaded_sub.form-control(type='text', readonly='', ng-model="mySubInfo", value='{{uploaded_sub}}')
            button(class="btn btn-default" ng-click='selectSrc()') Применить
    input#captionsrc(ng-model='captionsrc' type='text', class="form-control")
    button(class="btn btn-default" ng-click='selectCaption()') Найти!
    label(for='singleSelect')  Single select with "not selected" option and dynamic option values:
        br
        select#singleSelect(name='singleSelect', ng-model='sublist')
            option(value='') ---Please select---
            // not selected / blank option
            option(value='{{sublist[0]}}') Option 1
            // interpolation
            option(value='option-2') Option 2
        br
    video#video(width='100%', controls, preload='true', class="video-js vjs-default-skin vjs-big-play-centered", data-setup='{"fluid": true}', vjs-video, vjs-media="media")
    button(class="btn btn-default" ng-click="addSub()") Перевод фразы
        //source(src="video/sintel-short.mp4", type="video/mp4")
        //track(label='English', kind='subtitles', srclang='en', src='subtitles/vtt/sintel-en.vtt', default='')


div(ng-repeat="post in posts | orderBy:'-upvotes'", style="font-size:20px")
    div(class="well row")
        span(style="margin:10px;" ng-show="post.title")
            |{{post.title}}
            span(ng-show="post.author" style="margin:10px; opacity: 0.5;")
                | posted by
            span(class="label label-pill label-primary" ng-show="post.author" )
                a(href="#/profile/{{post.author}}" style="color: white;") {{post.author}}

            div(style = "display:inline; position: absolute;right: 0;margin-right:10px;")
                span(class="glyphicon glyphicon-thumbs-up", ng-click="incrementUpvotes(post)")
                span(class="badge")
                    | {{post.upvotes}}
            div(style = "display:inline; position: absolute;right: 10;margin-right:10px;")
               span(class="glyphicon glyphicon-trash", ng-click="delete(post)")
        img(class="img-responsive" ng-src="{{post.image}}" alt="{{post.image}}" style="margin:10px;")
        div(style="margin-left:20px;" ng-bind-html="post.text")


ul(class="pagination" ng-controller="NavCtrl" style="font-weight: bold;")
    li
        a(ng-click="prev()") << Prev
    li
        a(ng-click="next()") Next >>
div(ng-hide="isLoggedIn()")
    h3
        | You need to
        a(href="/#/login", style="margin:10px;") Log In
        | or
        a(href="/#/register", style="margin:10px;") Register
        | before you can add a post.
form(ng-submit="addPost()"
    ng-show="isLoggedIn()"
    style="margin-top:30px;"
    )
    h3 Add a new post
    p {{test}}
    div(class="form-group")
        input(type="text", class="form-control", placeholder="Title", ng-model="title")
        br
        input(type="text", class="form-control", placeholder="Image", ng-model="image")
    div(class="form-group")
        text-angular(ng-model="htmlVariable")
        //label(for="comment") Text:
            textarea(
            class="form-control"
            id="comment"
            rows="5"
            cols="50"
            class="form-control"
            placeholder="Text"
            ng-model="text"
            )
    button(type="submit", class="btn btn-primary")
        |Post