div(class="page-header")
    h1 EduJetPlayer
div(ng-show="error", class="alert alert-danger row")
    span {{ error.message }}
form(ng-submit="register(user)",style="margin-top:30px;")
    h3 Register
    div(class="form-group")
        input(
        type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"
        )
    div(class="form-group")
        input(
        type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"
        )
    div(class="form-group")
        input(
        type="text"
        class="form-control"
        placeholder="Avatar"
        ng-model="user.avatar"
        )
    button(type="submit", class="btn btn-primary")
        | Register